*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;

}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(130, 106, 251);
}
.container{
    position: relative;
    background: rgb(196, 110, 6);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0, 0, 0.1);
}
.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
#fullName{
    width: 100%;
}
.form {
    margin-top: 30px;
    width: 100%;
}
form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
}
.form .input-box input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.btn{
    width: 100%;
    border: 3px solid transparent;
    background-color: rgb(38, 38, 153);
    text-align: center;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
    border-radius: 5px;
  
}